$color: black;

 $mapa_de_colores:(
     $instagram: red,
     $facebook: #3b5998,
     $whatsapp: #25D366
 );

 @each $key, $color in $mapa_de_colores{
     .btn--#{$instagram} {
         background-color: red;
     }
     .btn--#{$facebook} {
         background-color: #3b5998;
     }
     .btn--#{$whatsapp} {
         background-color: #25D366;
     }
    
 }